.dropdown-loading {

}

.dropdown-list {
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #F5F4F6;

}

.dropdown-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    font-variant: small-caps;
    color: #292929;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}