.welcome {
    background-image: url('../../public/img/train.png');
    background-size: 100%;
}

.menu {
    background-color: #292929;
    color: #ffffff;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 84px;
    padding-left: 258px;
    padding-top: 26px;
    padding-bottom: 25px;
}

.header-top-logo {
    color: #E5E5E5;
    background-color: #00000099;
    font-size: 36px;
    font-weight: 900;
    padding-top: 15px;
    padding-left: 258px;
}

.menu-item {
    font-size: 30px;
    font-weight: 300;
}

.menu-item-link {
    text-decoration: none;
    color: white;
}

.menu-item-link:hover {
    color: #FFCA62;
}

.header-bottom {
    border-bottom: 8px solid #FFA800;
    padding-top: 251px;
    padding-left: 258px;
    display: flex;
    gap: 104px;
}

.slogan {
    font-size: 72px;
    font-weight: 100;
    padding-left: 90px;
    padding-top: 162px;
    color: #ffffff;
    width: 506px;
}

.slogan > strong {
    font-weight: 700;
}
