.payments {
    padding-left: 258px;
    padding-top: 95px;
    padding-bottom: 190px;
    background-color: #F7F5F9;
}

.payment {
    max-width: 1030px;
    margin: 35px;
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 2px 2px 0px #00000040;
}

.payment-header {
    padding: 35px;
    background-color: #F9F9F9;
    color: #292929;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    border-bottom: 1px solid #928F94
}

.payment-data {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-left: 35px;
    
}

.payment-button {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    height: 60px;
    width: 320px;
    border: none;

    background-color: #FFA800;
    color: white
}

.payment-footer {
    display: flex;
    justify-content: flex-end;
    max-width: 960px;
    padding-top: 100px;
}

.payment-button:disabled {
    background-color: #928F94;
}

.payment-button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;

}

.payment-button:active {
    color: #FFA800;
    background-color: #00000000;
}
