.train-chooser {
    padding-left: 258px;
    padding-top: 95px;
    padding-bottom: 190px;
    background-color: #F7F5F9;
}

.trains-list-header {
    margin-bottom: 47px;
}

.trains-list-header-counter {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #928F94;
}

.trains-list {

}

.trains-list-item {

}